{% extends 'blog/base.html' %}

{% block title %}{{ post.title }} | DjangoStart{% endblock %}

{% block content %}
<article class="article-detail">
    <a class="back-link" href="{% url 'post_list' %}">&larr; Zpět na všechny články</a>
    <div class="article-meta">
        {% if post.category %}<span>{{ post.category.name }}</span>{% endif %}
        <time datetime="{{ post.published_date|date:'c' }}">{{ post.published_date|date:"d. m. Y" }}</time>
    </div>
    <h1>{{ post.title }}</h1>
    <p class="article-author">Napsal/a {{ post.author.username }}</p>
    {% if post.category %}
        <p class="article-category">Téma: {{ post.category.name }}</p>
    {% endif %}
    <div class="article-body">{{ post.text|linebreaksbr }}</div>

    {% if user.is_authenticated and user == post.author %}
        <p><a class="button button-small" href="{% url 'post_edit' pk=post.pk %}">Upravit článek</a></p>
    {% endif %}
</article>
{% endblock %}
