{% extends 'blog/base.html' %}

{% block content %}
    {% if selected_category %}
        <h2>Category: {{ selected_category.name }}</h2>
    {% endif %}

    {% for post in posts %}
        <article>
            <time>published: {{ post.published_date|date:"d.m.Y, H:i" }}</time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            {% if post.category %}
                <p>Category: {{ post.category.name }}</p>
            {% endif %}
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% empty %}
        <p>No posts available.</p>
    {% endfor %}
{% endblock %}
